/*fonts*/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Marvel:ital,wght@0,400;0,700;1,400;1,700&display=swap');
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

/*Barra de Navegação*/
nav{
    background-color: rgb(169, 31, 31);
    display: flex;
    height: 7vh;
    width: 100%;
    justify-content: space-between;
    
}

nav ul{
    padding-right: 15px;
    margin-right: 15px;
    list-style: none;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    font-size: 24px;
   
}

nav ul li a {
    margin-right: 15px;
    color: white;
    position: relative;
    font-family: 'Bebas Neue','Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

 nav ul li a:hover{
    width: 100%;
    transition: 0.5s;
    color: rgb(0, 0, 0);
}

nav ul li a:hover::after {
    width: 100%;
    transition: 0.5s;
    color: rgb(0, 126, 181);
}

nav ul li a::after {
    content: " ";
    width: 0%;
    height: 4px;
    background-color: black;
    position: absolute;
    bottom: 0;
    left: 0;
 }

/*--------------------------------------------------------------------------------------*/

/*logotipo principal*/

.nav .logotipo a span{
    align-content: center;
    padding: 2px;
    margin-left: 15px;
    color: white;
    font-size: 35px;
    font-family: 'Bebas Neue','Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: relative;
}

.nav .logotipo a span:hover{
    text-transform: capitalize;
    transition: 0.7s;
    color: rgb(0, 0, 0);
}

.nav .logotipo a span:hover::after{
    width: 100%;
    transition: 0.5s;
    color: rgb(0, 0, 0);
}

.nav .logotipo a span::after {
    content: " ";
    width: 0%;
    height: 4px;
    background-color: black;
    bottom: 0;
    left: 0;
    position: absolute;
 }


 /*--------------------------------------------------------------------------------------*/

/*MAIN - CONTEÚDO PRINCIPAL */

.home{
    display: flex;
    background: url(quadrinhos.jpg) no-repeat center;
    background-size: cover;
    height: 125vh;
    color: rgb(255, 255, 255);
    min-height: 500px;
    font-family: 'Bebas Neue','Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.home .home-content{
    margin-top: 250px;
}
/* TEXTO 1 DA HOME PAGE*/
.home .home-content .texto1{
    font-size: 125px;
    margin-left: 50px;
    margin-bottom: -50px;
    animation: animate 4s linear infinite;
}
/*animação de TEXTO 1 com KEYFRAME*/
@keyframes animate{
    0%{
    opacity: 0;
    color: rgb(247, 37, 37);
    }
    50%{
    opacity: 20;
    color: rgb(86, 86, 86);
    }
    100%{
    opacity: 1;
    color: rgb(0, 107, 222);
    }
}
/*TEXTO 2 DA HOME PAGE*/
.home .home-content .texto2{
    margin-bottom: 15px;
    font-size: 80px;
    font-weight: 300;
    margin: auto 0 auto 50px;
}

.home .home-content .texto3{
    margin-left: 50px;
    margin: auto 0 auto 50px;
    font-weight: 100;
    font-size: 45px;
    position: absolute;
}
/* EFEITO EM TEXTO 3 A */
.home.home .home-content .texto3 a{
    color: white;
}

.home .home-content .texto3 a:hover{
    text-transform: capitalize;
    transition: 0.7s;
    color: black;
}

.home .home-content .texto3 a:hover::after{
    width: 100%;
    transition: 0.5s;
    color: rgb(0, 0, 0);
}

.home .home-content .texto3 a::after {
    content: " ";
    width: 0%;
    height: 4px;
    background-color: black;
    bottom: 0;
    left: 0;
    position: absolute;
 }



 /*PAINEL DAS EDITORAS EM DESTAQUE*/
.editoras{
    width: 100%;
    height: 65vh;
    background-color: rgb(113, 5, 5);
    display: inline-flex;
}
.editoras:hover{
    height: 80vh;
    transition: all.5s;
}


/* PAINEL MARVEL*/
.container-marvel{
    align-items: center;
    justify-content: center;
    min-width: 50vh;
    color: white;
}
.card-marvel{
   background-image: linear-gradient(#eb1818, #a10404);
    overflow: hidden;
    border-radius: 15px;
    margin-left: 10px;
    max-width: 360px;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.card-marvel:hover{
    background-image: linear-gradient(#ff0000, #ff0a0a);
}

.card-marvel .img{
    background-image: url(marvel_card_fundo.jpg);
    background-position: center;
    background-size: cover;
    width: 370px;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-marvel:hover .img{
    opacity: 1;
    width: 400px;
}

.img span{
    font-family: 'Bebas Neue','Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(255, 0, 0);
    text-shadow: 10cqmax;
    font-size: 75px;
    font-weight: 100;
    text-transform: uppercase;
}

.card-marvel .content{
    padding: 0 20px;
    overflow: hidden;
    height: 0;
    margin-bottom: 0;
    transition: all .5s;
    transform: translateY(30px);
}

.card-marvel:hover .content{
    padding: 20px;
    height: 80px;
    transform: translateY(0);
}

.title{
    font-size: 24px;
    font-weight: bold;
}

 .desc{
    font-size: 15px;
    font-weight: 100;
}

.card-marvel .arrow{
    padding: 8px;
    font-size: 25px;
    color: rgb(255, 255, 255);
}

/*--------------------------------------------------------------------------------*/

/* PAINEL DC COMICS*/

.container-dc{
    align-items: center;
    justify-content: center;
    min-width: 50vh;
    color: white;
}
.card-dc{
    margin-left: 10px;
    background-image: linear-gradient(#0483de, #000000);
    overflow: hidden;
    border-radius: 15px;
    max-width: 360px;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.card-dc:hover{
    background-image: linear-gradient(#065dd6, #003584);
}

.card-dc .img-dc{
    background-image: url(DC_card_fundo.jpg);
    background-position: center;
    background-size: cover;
    width: 370px;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-dc:hover .img-dc{
    opacity: 1;
    width: 400px;
}

.img-dc span{
    font-family: 'Bebas Neue','Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(0, 32, 176);
    text-shadow: 10cqmax;
    font-size: 75px;
    font-weight: 100;
    text-transform: uppercase;
}

.card-dc .content-dc{
    padding: 0 20px;
    overflow: hidden;
    height: 0;
    margin-bottom: 0;
    transition: all .5s;
    transform: translateY(30px);
}

.card-dc:hover .content-dc{
    padding: 20px;
    height: 80px;
    transform: translateY(0);
}

.title-dc{
    font-size: 24px;
    font-weight: bold;
}

 .desc-dc{
    font-size: 15px;
    font-weight: 100;
}

.card-dc .arrow{
    padding: 8px;
    font-size: 25px;
    list-style: none;
    text-decoration: none;
    color: white;
}


/* PAINEL DARKHORSE*/


/* PAINEL DINAMITY*/

